## v1.0.0 (2024-08-03)

### Feat

- [`{{ commit_sha_3[:7] }}`]({{ commit_url }}{{ commit_sha_3 }}): breaking change


## v0.1.1 (2024-08-02)

### Fix

- [`{{ commit_sha_2[:7] }}`]({{ commit_url }}{{ commit_sha_2 }}): resolve a bug


## v0.1.0 (2024-08-01)

### Feat

- [`{{ commit_sha_1[:7] }}`]({{ commit_url }}{{ commit_sha_1 }}) **scope1**: add a new feature


